SECRET_KEY= # Clave secreta para Django, debe ser única y segura. Ejemplo: "django-insecure-3-n+b_!spmn3(md%%=9=1dx5-bj+gmo2g)9z=2)sd7#^r3(st9"
DEBUG= # True o False. En producción debe ser False.
ALLOWED_HOSTS= # Separados por comas, ej: localhost,
CORS_ALLOWED_ORIGINS= # Separados por comas, ej: http://localhost:3000,http://example.com
CORS_ALLOW_ALL_ORIGINS= # True o False

REDIS_PASSWORD=
CELERY_BROKER_URL=redis://:${REDIS_PASSWORD}@redis:6379/0


EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=

DB_HOST=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_PORT=

WEB_PORT=
