{% extends "base.html" %}
{% load static %}

{% block title %}{% if post %}Editar Post{% else %}Crear Nuevo Post{% endif %}{% endblock %}

{% block content %}
<div class="flex items-center justify-center min-h-screen py-12">
  <div class="w-full max-w-4xl bg-gray-800 text-gray-100 p-16 rounded-3xl shadow-2xl">
  <h1 class="text-4xl font-extrabold mb-8 text-center">{% if post %}Editar Post{% else %}Crear Nuevo Post{% endif %}</h1>
    <form method="post" class="space-y-8">
      {% csrf_token %}
      {{ form.title }}
      {{ form.content }}
      <button type="submit"
        class="w-full {% if post %}bg-green-600 hover:bg-green-700{% else %}bg-cyan-500 hover:bg-cyan-600{% endif %} text-white px-6 py-3 rounded-xl shadow-lg text-lg font-semibold">
        {% if post %}Guardar Cambios{% else %}Publicar{% endif %}
      </button>
    </form>
  </div>
</div>

<!-- TinyMCE Dark -->
<script src="{% static 'tinymce/tinymce.min.js' %}"></script>
<script>
  tinymce.init({
    selector: 'textarea',
    menubar: false,
    plugins: 'lists link image code',
    toolbar: 'undo redo | bold italic underline | bullist numlist | link image | code',
    height: 400,
    skin: 'oxide-dark',
    content_css: 'dark',
    content_style: "body { background-color: #1a202c; color: #e2e8f0; }"
  });
</script>
{% endblock %}
